html{
    font-family: verdana;
    font-size: 16px;
    font-variant: initial;
    margin-left: 20px;
}

h1{
    grid-area: h1;
    margin: 40px 20px 0px;
    padding: 20px 50px 50px;
    border-radius: 10px;
    background-color: rgba(239, 151, 11, 0.9);
    color: white;
    text-align: center;
    display: inline-block;
}
h1 img{
    float: left;
    margin: 5px;
    vertical-align: default;
}
h2{
    grid-area:h2 ;
    margin-top:50px;
    margin-bottom: 30px;
    padding: 20px 50px 30px;
    border-radius: 5px;
    background-color: rgba(239, 151, 11, 0.9);
    color: white;
    text-align: center;
}


.maintxt{
    grid-area: main;
    margin: 5rem auto;
    width: 50%
}
a:link{
  font: italic Georgia, serif;
  color: blue;
}
a:visited{
    color: purple;
}
a:active{
    background-color: orange;
}
#table1 {
    grid-area: t1;
    caption-side: top;
}
table, th, td{
    border: 2px solid rgba(239, 151, 11, 0.9);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
table thead{
    background-color: rgba(239, 151, 11, 0.9);
}
input:focus{
    background-color: orange;
}
figure{
    grid-area: figure;
    text-align: center;
}
.center{
    text-align: center;
}
.navbar ul{
    
    background-color: white;
    padding: 0px;
    list-style-type: none;
    margin-top: 0px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 0px;
}
#subscriptions{
    grid-area: subs;
}

.nav{
    grid-area: nav;
}

#navbar ul li{
    display: inline;
    margin-top: 100px;
}

#navbar ul li a{
    text-decoration: none;
    border-radius: 5px;
    padding: .2em 1em;
    font-family: Arial;
    background-color: rgba(239, 151, 11, 0.9);
    color: white;
}
#navbar ul li a:hover{
    color:rgba(239, 151, 11, 0.9);
    background-color: white;
}



.foot{
    grid-area: foot;
    background-color: rgba(239, 151, 11, 0.9);
    display: inline;
    margin: 5rem auto;
    text-align: center;
}

/*Phone/Tablet*/
@media screen and (min-width: 800px) {
    body {         
        display: grid;
        grid-template-columns: 20% 40% 40% ;
        grid-template-rows: 30% 50% 20%;
        grid-template-areas:     
         "nav main subs "
         " t1 t1 subs"
         "foot foot foot";
         

         
    }
 }

 @media screen and (max-width: 700px){
     body{
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: 9% 20% 43% 12% 16%;
         grid-template-areas:
            "nav "
            "main "
            "t1"
            "subs"
            "foot";

     }
 }